.comment {
  margin-left: 40px;
}

.comment__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 19px;
  border-left: 3px solid #3d8bfd;
  padding: 0 29px;
  color: #6c757d;
}

.replies {
  margin-left: 20px;
}

.author {
  font-weight: 500;
  padding-right: 10px;
}

.time {
  color: #adb5bd;
  font-size: 13px;
}

.button {
  margin-top: 20px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 0;
  color: #3d8bfd;
  cursor: pointer;
  &:hover {
    color: #084298;
    text-decoration: underline;
  }
  &:disabled {
    pointer-events: none;
    color: black;
  }
}

.deadComment__body {
  margin: 10px 19px;
  border-left: 3px solid #dc3545;
  padding: 0 29px;
  color: #dc3545;
}

@media (max-width: 600px) {
  .comment {
    margin-left: 20px;
  }
  .comment__body {
    margin: 10px 9px;
    padding: 0 19px;
    font-size: 13px;
  }
  .deadComment__body {
    margin: 10px 9px;
    padding: 0 19px;
    font-size: 13px;
  }
  .author {
    font-size: 15px;
  }
  .time {
    font-size: 10px;
  }
}
