.button {
  border: 0;
  border-radius: 6px;
  padding: 10px 15px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  &[name="back"] {
    background-color: #0d6efd;
    color: #ffffff;
    &:hover {
      background-color: #0a58ca;
    }
    &:active {
      transform: scale(0.9);
    }
    &:disabled {
      background-color: #e2e6ea;
      color: #343a40;
      pointer-events: none;
    }
  }
  &[name="update"] {
    background-color: #ffffff;
    color: #6c757d;
    border: 2px solid #6c757d;
    &:hover {
      background-color: #e2e6ea;
      color: #6c757d;
    }
    &:active {
      transform: scale(0.9);
    }
    &:disabled {
      background-color: #6c757d;
      color: #ffffff;
      pointer-events: none;
    }
  }
}

@media (max-width: 600px) {
  .button {
    font-size: 12px;
    padding: 8px 12px;
    &[name="back"] {
      width: 100%;
    }
  }
}
