.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px;
  align-items: center;
}

.lastUpdation {
  font-size: 20px;
  font-weight: 600;
  color: #adb5bd;
  padding-right: 10px;
}

.homePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.preloader {
  min-height: calc(100vh - 190px);
}

@media (max-width: 600px) {
  .buttonContainer {
    padding: 20px 0px;
  }
  .lastUpdation {
    font-size: 16px;
  }
  .preloader {

  }
}
