.header {
  background-color: #0d6efd;
  color: #ffffff;
  padding: 20px 10px;
  position: fixed;
  inset: 0 0 auto 0;
}

.logo {
  font-weight: 800;
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  &:hover {
    opacity: 0.7;
  }
}

.main {
  margin-top: 70px;
  padding: 0px 20px;
}

@media (max-width: 600px) {
  .header {
    padding: 15px 10px;
  }

  .logo {
    svg {
      height: 20px;
      width: 150px;
    }
  }

  .main {
    margin-top: 54px;
    padding: 0px 15px;
  }
}
