.footer {
  position: fixed;
  inset: auto 0 0 0;
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
  padding: 10px 30px;
}

.title {
  margin: 0;
  padding-top: 20px;
  color: #152536;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.oneMoreContainer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.sectionTitle {
  margin: -2px 0;
  padding-right: 10px;
}

.storyFooter {
  border-top: 2px solid #d7d7d7;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  color: #6c757d;
}

.score {
  display: flex;
  gap: 15px;
  align-items: center;
  font-weight: 600;
}

.scoreContainer {
  display: flex;
  gap: 30px;
}

.info {
  display: inline-block;
  padding: 20px 0;
  white-space: pre-wrap;
  font-size: 20px;
  font-weight: 500;
  color: #6c757d;
}

.story {
  padding: 20px 40px;
}

.link {
  font-size: 20px;
  color: #3d8bfd;
  cursor: pointer;
  &:hover {
    color: #084298;
    text-decoration: underline;
  }
}

.threadContainer {
  margin-bottom: 50px;
}

.lastUpdation {
  color: #adb5bd;
  font-size: 18px;
  font-weight: 600;
}

.pagePreloader {
  min-height: calc(100vh - 80px - 58.5px);
}

.commentsPreloader {
  min-height: 35vh;
}

@media (max-width: 600px) {
  .story {
    padding: 0;
  }

  .title {
    font-size: 20px;
  }
  .info {
    font-size: 15px;
  }
  .storyFooter {
    padding: 10px 0;
    font-size: 15px;
  }
  .link {
    font-size: 15px;
    color: #3d8bfd;
  }
  .lastUpdation {
    color: #adb5bd;
    font-size: 13px;
    font-weight: 600;
  }
  .sectionTitle {
    font-size: 18px;
    margin: -1px 0;
  }
  .pagePreloader {
    min-height: calc(100vh - 50px - 52px);
  }
  .commentsPreloader {
    min-height: 40vh;
  }
}
