.story {
  border: 2px solid #d7d7d7;
  border-radius: 4px;
  padding: 10px 30px;
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
  &__header {
    display: flex;
    justify-content: flex-end;
    color: #aab8c2;
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d7d7d7;
    padding-top: 10px;
    color: #aab8c2;
  }
  &:hover {
    border-color: #6ea8fe;
    background-color: #f8f9fa;
    .story__title {
      color: #3d8bfd;
    }
  }
}


.story__title {
  align-self: flex-start;
  font-size: 30px;
  font-weight: 600;
}

.scoreContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link {
  text-decoration: none;
  color: #aab8c2;
  &:hover {
    text-decoration: underline;
    color: #657786;
  }
}

@media (max-width: 600px) {
  .story__title {
    font-size: 16px;
    font-weight: 600;
  }

  .story {
    padding: 8px 20px;
  }

  .story__footer,
  .story__header {
    font-size: 14px;
  }

  .story__footer {
    padding-top: 8px;
  }

  img {
    height: 20px;
  }
}
